@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #__nuxt {
    @apply min-h-full;
  }

  html {
    font-family: "DM Sans", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply text-slate-800 leading-6;
  }

  body,
  button,
  input,
  textarea,
  select {
    font-family: "DM Sans", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  }
}
